cmake_minimum_required(VERSION 3.0)
project({{ project_name }})

include(${CMAKE_CURRENT_SOURCE_DIR}/../../../cmake/cpp_codegen.cmake)

file(GLOB_RECURSE TESTS_SOURCES ./tests/*.cpp)

add_executable(${PROJECT_NAME}
  ./.generated/main.cpp
  ${TESTS_SOURCES}
)

target_include_directories(${PROJECT_NAME}
  PUBLIC
    include
)

target_link_libraries(${PROJECT_NAME}
  PUBLIC
    gtest
)

target_codegen(${PROJECT_NAME})
