cmake_minimum_required(VERSION 3.0)
project({{ project_name }})

include(${CMAKE_CURRENT_SOURCE_DIR}/../../../cmake/cpp_codegen.cmake)

file(GLOB_RECURSE TESTS_SOURCES ./tests/*.cpp)

add_subdirectory(${CMAKE_CURRENT_SOURCE_DIR}/../../libraries/json nlohmann_json)

set(INSTALL_GTEST Off)
add_subdirectory(${CMAKE_CURRENT_SOURCE_DIR}/../../libraries/googletest googletest)

add_executable(${PROJECT_NAME}
  ./.generated/main.cpp
  ${TESTS_SOURCES}
)

target_include_directories(${PROJECT_NAME}
  PUBLIC
    include
)

target_link_libraries(${PROJECT_NAME}
  PUBLIC
    gtest
    nlohmann_json
)

target_codegen(
    TARGET ${PROJECT_NAME}

{%- if clang_library %}
    CLANG_LIBRARY {{ clang_library }}
{%  endif -%} 
)

target_compile_features(${PROJECT_NAME} PRIVATE cxx_std_17)
